<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChannelManager"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://logomanager.team-mediaportal.com/ChannelManager.svc"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChannelManager"
                      contract="ChannelManagerService.IChannelManager" name="BasicHttpBinding_IChannelManager"/>
        </client>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
